/*** You will not need this file until Unit 3 ***/
/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: var(--bg-color);
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    background-color: var(--bg-color); /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    margin: 50px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

h1 {
    
}

h2 {
    
}

h3 {
    
}

h4 {
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: none;
}
/*default style for links*/
a:link article h3{
  color : green;
  font-weight: lighter;
  text-decoration: underline;
}

a:link article p {
  color:purple;
}

/* visited links */
a:visited {
  color: black;
}

a:hover article h3{
  font-weight: bolder;
}

/* style when clicking*/
a:active article h3{
  color: purple;
}

/* styles button*/
.header-button button{
    color: green;
    background-color: #f8bbd0;
    border-radius: 5px;
    border-style: hidden;

    font-size: small;
    padding: 8px;
    margin: 20px;

    cursor: pointer;
}

.header-button {
  display: flex;
  flex-direction: row;


}

.titles {
  font-family: Pacifico;
}

#theme {
  font-family: Satisfy;
  font-style: italic;
}

button:hover {
  background-color: gray
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.header-container { /* Example A: This styles elements with class="header" */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
    text-align : left;
    padding: 20px;
    gap: 60px;
}

.header-item:nth-of-type(1) {
  width: 40%;
  display: flex;
  justify-content: flex-end;

}

.header-item:nth-of-type(2) {
  width: 60%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#header-img {
  width: 80%;
}


/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer { /* Example B: This styles elements with class="footer" */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;

    background-color: lightblue
}

.footer a {
  display: inline-block

}

/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.navbar {
  background-color: #7f6abf;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.navbar ul {
  display: flex;
  justify-content: center;
}


.navbar ul {
  z-index: 1000; /* Ensures the navbar is on top of other elements */
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-bottom: 100px;
  
}

.navbar ul li {
  float: left;
  margin: 10px;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: purple;
  text-align: center;
  padding: 2px;
}

.navbar ul li a:hover {
  color: green;
}

.navbar ul li a:hover {
  
}

html {
  scroll-padding-top: 50px;
}

body {
  padding-top: 50px;
}

.Intro-section {
  display: flex;

}

#About {
  display: flex;
  justify-content: center;
}

.About-section {
  display: flex;
  gap: 20px;
}
#description p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#description h4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#description ul {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** RSVP Section ***
  
  Purpose:
  - Add style rules for your website's RSVP form

  When To Modify:
  - [ ] Project 6 (REQUIRED FEATURE)
  - [ ] Project 7 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.rsvp-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.rsvp-para {
  width: 55%;
  padding-right: 10px;
}

.rsvp-participants {
  width: 45%;
  padding-right: 10px;
}

/* Add other rsvp-related selectors here */
#rsvp-button {
  background-color: #3e3377;
  border-radius: 5px;
}

.error {
  border-style: solid;
  border-width: 2px;
  background-color: #e46c76;

  /* Set border-color and background */
}

/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal  ***
  
  Purpose:
  - Add style rules to your website's pop-up modal, which appears
    when a user successfully submits the RSVP form

  When To Modify:
  - [ ] Project 9 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.modal {
  display: none;   /* modal should be hidden by default*/
  position: fixed; /* modal cannot move around the screen */
  z-index: 9999;      /* modal appears above other elements */ 
  
  /* TODO: Make the modal fill the entire screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Add a semi-transparent background to shadow non-modal elements*/
  background-color: rgba(0, 0, 0, 0.7); /* 40% opacity black */

  /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.modal-container {
    /* Change modal size and spacing here */
    padding: 10px;
    width: 55%;

    /* Customize modal style here */
    background-color: lightsteelblue;
    color: black;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;
    border-radius: 1rem;

    /* Optional: Use flexbox to customize .modal-item layout */
    display: flex;
    justify-content: center;
}

.modal-item {
    /* Optional: Style individual elements within the modal */
  display: flex;
  justify-content: center;
  width: 100%
}

#modal-image {
  width: 70%;
  align-items: center;
}

#model-text {
  font-family: cursive;
  font-size: large;
}

/* Default dark mode style */

/* Example: Different dark mode style for h1 */

/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {

}

/* Add style to button */
#theme-button {
  background-color: #47406a;
  border-radius: 5px;

}


/* Customize Dark Mode Theme */
.dark-mode button,
.dark-mode h1, 
.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode button {
  background-color: #3e3377;
}




/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
